<nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">
          <i class="bi bi-house-fill"></i> home
        </a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-person-fill"></i> about
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resume" routerLinkActive="active">
            <i class="bi bi-file-earmark-text-fill"></i> resumé
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-tools"></i> projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="goToLink('https://gh3.smule.dev')">gh3 song picker</a>
            <a class="dropdown-item" (click)="goToLink('https://github.com/smuuule/DAT290-13')">security system project</a>
            <a class="dropdown-item" (click)="goToLink('https://github.com/smuuule/aoc2021-smule')">advent of code</a>
            <a class="dropdown-item" (click)="goToLink('https://snake.smule.dev')">simplesnake.js</a>
            <a class="dropdown-item" (click)="goToLink('https://pong.smule.dev')">simplepong.js</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">all projects</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-person-lines-fill"></i> contact
          </a>
        </li>
    </ul>
  </div>
</nav>
