@import '../../styles-variables.scss';

abe-header {
  nav {
    width: 100%;
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    nav {
      width: 80%;
    }
  }
}
.navbar-custom {
  background-color: $header_color;
}

.nav-link {
    color:ghostwhite;
}
