@import '../../styles-variables.scss';

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $footer_color;
  color: ghostwhite;
  text-align: center;
  vertical-align: middle;
}
.footer p{
    margin: 10px 0px ;
}
