@import "styles-variables";

// Bootstrap module importsd
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

* {
  &:active,
  :focus {
    outline: none !important;
  }
}

@font-face {
  font-family: "SkinnyToon";
  src: url(../src/assets/Skinnytoon-jEPvG.otf);
}

label {
  margin-bottom: 0;
}

html {
  background-color: $bg_color;
}
