@import '../../styles-variables.scss';

.content {
  background-color: $bg_color;
  color: $white_font;
}

.title {
  padding-top: 2%;
  font-family: 'SkinnyToon';
  letter-spacing: 0.25em;
  font-size: 9vw;
}

h2 {
  font-family: 'Josefin Sans';
  letter-spacing: 0.1em;
  font-size: 2vw;
}

@media(min-width: 75rem) {
  .title {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
}
@media(min-width: 45rem) {
  .title {
    font-size: 6vw;
  }
  h2 {
    font-size: 2vw;
  }
}

.intro {
  width: 30rem;
  margin: 0 auto;
  font-size: 1.3rem;
  text-align: justify;
  margin-top: 8px;
}

