  <app-header></app-header>

  <div class="content">


    <h1 class="title text-center">
      Samuel <br/>
      Runmark&nbsp;Thunell
    </h1>
    <h2 class="text-center"> CSE Student and Computer Enthusiast</h2>

    <img class="img-thumbnail mx-auto d-block" src="../../assets/home-photo.jpg">

    <div class="intro">
      <p>
        Hi! I'm Samuel! 👋<br>
        A Computer Science and Engineering Student at Chalmers, Gothenburg. 🎓 <br>
        But I am also a music lover 🎶, gamer 🕹️ and computer geek 🤓. <br>
        I'd really like to talk, so contact me on my social media! 🗣️ <br>
      </p>
    </div>

    <div class="socials">

      <div>
        <a (click)="goToLink('https://github.com/smuuule')"><i class="bi bi-github"></i></a>
        <a (click)="goToLink('https://www.linkedin.com/in/samuelrunmarkthunell')"><i class="bi bi-linkedin"></i></a>
      </div>
      <div>
        <a (click)="goToLink('https://www.facebook.com/samuel.thunell')"><i class="bi bi-facebook"></i></a>
        <a (click)="goToLink('https://www.instagram.com/samuel.runell')"><i class="bi bi-instagram"></i></a>
      </div>

    </div>
  </div>

  <div class="clear"></div>
  <app-footer class="mt-auto"></app-footer>
