<div class="content">

  <app-header></app-header>


    <h1 class="title text-center">
      Samuel <br/>
      Runmark&nbsp;Thunell
    </h1>
    <h2 class="text-center"> CSE Student and Computer Enthusiast</h2>

    <img class="img-thumbnail mx-auto d-block" src="../../assets/home-photo.jpg" width="200">

    <div class="intro">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis corrupti nesciunt nemo dignissimos odit mollitia, sint, temporibus beatae obcaecati quo a quam dolorem velit nobis quaerat facere ad officiis recusandae.</p>
    </div>

  <app-footer class="mt-auto"></app-footer>
</div>
