@import '../../styles-variables.scss';

.content {
  background-color: $bg_color;
  color: $white_font;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 3rem;
}

.title {
  padding-top: 4rem;
  font-family: 'SkinnyToon';
  letter-spacing: 0.25em;
  font-size: 9vw;
}

h2 {
  font-family: 'Josefin Sans';
  letter-spacing: 0.1em;
  font-size: 2vw;
}

img {
  width: 10vw;
  margin-top: 1.5rem;
}

.intro {
  width: 50%;
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.socials {
  width: 32rem;
  margin: 0 auto;
  margin-top: 8px;
  font-size: 4rem;
  text-align: center;
}

a {
  color:burlywood;
}

a + a {
  margin-left: 50px;
}


@media(min-width: 75rem) {
  .title {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  .intro {
    font-size: 2rem;
  }
}
@media(min-width: 45rem) {
  .title {
    font-size: 6vw;
  }
  h2 {
    font-size: 2vw;
  }
  .intro {
    font-size: 2rem;
  }
}
@media(max-width: 32rem) {
  .socials {
    width: 100%;
  }
}
@media(min-width: 30rem) {
  .intro {
    font-size: 1.5rem;
  }
}

.clear {
  clear: both;
  height: 60px;
  background-color: $bg_color;
}
